body {
    font-family: 'Jura', sans-serif;
    text-align: center;
}

#checky {
    text-align: left;
    /* reset text-align for IE */
    margin: 0 auto;
    /* Center in other browsers */
    width: 400px;
}

#bottomtip {
    font-family: 'Jura', sans-serif;
    text-align: center;
}

#centercontainer {
    float: left;
    padding: 0 10% 0 10%;
}

.center {
    text-align: center;
}

body{
    font-family: 'Noto Serif SC', serif;
/*font-family: 'Aleo', serif;*/
}

div.a{
    font-size: large;
}

#grad{
    height:2000px;
    background-image:linear-gradient(black,white);
}

.btn{
   position: relative;
   background-color: whitesmoke;
   border: none;
   color: black;
   padding:16px 32px;
   text-align: center;
   font-size: 16px;
   margin:0 auto;
   opacity:1;
   transition:0.3s;
   border-radius: 12px;
    font-family: 'Noto Serif SC', serif;

}

.btn:hover{opacity:0.6}