<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <!--<link rel="stylesheet" href="../static/styles.css">-->
    <!--    font link-->
    <link href="https://fonts.googleapis.com/css?family=Aleo|Noto+Serif+SC" rel="stylesheet">

    <title>Stage Fright</title>
</head>

<body style="background-color:black">
    <!--    <div id="grad"></div>-->
    <div class="centercontainer">

        <br>
        <br>

        <!--  image #1    -->
        <img src="{{url_for('static', filename='front_page.png')}}" width=100%>

        <br>
        <br>
        <!--        2 buttons -->
        <!--        1. about (summary) along with the 4th picture -->
        <a href="\page2"><button type="button" class="btn"> About </button></a>
        <a href="\try-it"><button type="button" class="btn"> Try it </button></a>
        <!--        2. try it out -->

        <br>
        <br>

        <!--        statement #1-->
        <div class="center" style="color:aliceblue" class="a"> Imagine speaking in a room where there’s only one spotlight and it’s on you. Imagine speaking when surrounded by creepy eyes (read: people) staring at you from the dark.<br>Truly horrifying.
        </div>

        <br>
        <br>

        <!--        image #2 -->
        <img src="{{url_for('static', filename='image-2.png')}}" width=100%>

        <!--        statement #2-->
        <div class="center" style="color:aliceblue" class="a">However, after going through this simulator, you will no longer be afraid of speaking in front of anything, anymore.
        </div>


        <!--        image #3 -->
        <img src="{{url_for('static', filename='image-3.png')}}" width=100%>

        <!--        statement #3-->
        <div class="center" style="color:aliceblue" class="a"> Because unlike other public speaking apps, our app emphasizes overcoming the fear of being in the spotlight. Literally.
        </div>

        <br>
        <br>




    </div>
</body>

</html>
