<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <!--<link rel="stylesheet" href="../static/styles.css">-->
    <!--    font link-->
    <link href="https://fonts.googleapis.com/css?family=Aleo|Noto+Serif+SC" rel="stylesheet">
    
    <title>Stage Fright</title>
</head>

<body style="background-color: black">
<!--    header -->
    <h1 class="center" style="color:aliceblue">Mission</h1>
<!--    summary -->
    <br>
    <br>
    <div class="center" style="color:aliceblue" class="a"><i>stage_fright</i> is an app aiming to help people overcome stage panic and public speaking troubles through VR and voice practice. Our VR stage sets the user in a dark room with 1 mic and many terrifying creatures concentrating their gazes on the user. Behind the user is a timer and the user will practice their speech into the microphone within the ticking time frame. Our app also provides a voice analyzing system that gives helpful feedback to the user on their recorded speaking session.
</div>


<img src="{{url_for('static', filename='prototype.gif')}}" width=100%>

<!--    image #4 -->
    <img src="{{url_for('static', filename='image.png')}}" width=100%>
    <br>
    <br>
<!--
<form action="/upload" method="post" enctype="multipart/form-data" >
  <span class="btn btn-default btn-file">
     Add a receipt <input type="file" name="audio" id="imgreceipt" onchange="loadFile(event)">
  </span>

  <input type="submit" value="Upload your audio file" class="btn btn-primary">
</form>
-->


<a href="\index"><button type="button" class="btn"> Home </button></a>
<a href="\try-it"><button type="button" class="btn"> Try it </button></a>

</body>
</html>