<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta charset="UTF-8">
    <title>Stage Fright</title>
</head>

<body style="background-color:black">
    <!-- header -->
    <h1 id="center" style="color:aliceblue">Voice Analyzing Report</h1>
    <br>
    <hr>
    <!-- clarity -->
    <h2 id="center" style="color:aliceblue">Clarity</h2>
    <!--    Hesitation-->
    <h2 id="center" style="color:aliceblue">Hesitations</h2>
    <!--    Transcription-->
    <h2 id="center" style="color:aliceblue">Transcription</h2>

    <!--
<form action="/upload" method="post" enctype="multipart/form-data" >
  <span class="btn btn-default btn-file">
     Add a receipt <input type="file" name="audio" id="imgreceipt" onchange="loadFile(event)">
  </span>

  <input type="submit" value="Upload your audio file" class="btn btn-primary">
</form>

-->



</body>
</html>