<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta charset="UTF-8">
    <title>Stage Fright</title>
</head>

<body style="background-color:black">
    <!-- header -->
    <h1 class="center" style="color:aliceblue">Voice Analyzing Report</h1>
    <br>
    <img src="{{ graph_url }}">
    <!-- clarity -->
    <h2 class="center" style="color:aliceblue">Clarity: {{ clarity }}%</h2>
    <!--    Hesitation-->
    <h2 class="center" style="color:aliceblue">Hesitations: {{ hesitations }}</h2>
    <!--    Transcription-->
    <h2 class="center" style="color:aliceblue">Transcript: {{ transcript }}</h2>
    <br>
    <br>

    <a href="\index"><button type="button" class="btn"> Home </button></a>
    <a href="\try-it"><button type="button" class="btn"> Try it </button></a>

    <br>
    <br>
</body>
</html>