<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <!--<link rel="stylesheet" href="../static/styles.css">-->
    <!--    font link-->
    <link href="https://fonts.googleapis.com/css?family=Aleo|Noto+Serif+SC" rel="stylesheet">
    
    <title>Stage Fright</title>
</head>

<body style="background-color: black">
<!--    header -->
<!--    <div id="grad"></div>-->
    <h1 id="center" style="color:aliceblue">Try out our voice analyzer!</h1>


    <br><br>


    <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file" >
         Input audio file <input type="file" name="audio" id="imgreceipt" onchange="loadFile(event)">
      </span><br><br><br>
      <input type="submit" style="font-family:'Noto Serif SC', serif"value="Upload your audio file" class="btn btn-primary" onClick="check()">
    </form>

    <br><br>

    <div id="processing" style="color:aliceblue"></div>
    <br>
    <div id="tip" style="color:aliceblue"></div>
    <br><br>

    <script>
        function check() {
            var k = "processing";
            document.getElementById(k).textContent = "Your file is being processed.";
            var k = "tip";
            document.getElementById(k).textContent = "Tip: Practice makes perfect";
        }
    </script>


<br><br>
<br><br>
<h2 class="center" style="color:aliceblue">All eyes are on you.</h2>

</body>
</html>